<div id="<%= dom_id home %>" class="card mb-3" style="">
  <div class="row g-0">
    <div class="col-md-4">
       <%= image_tag url_for(home.images.first), class: "img-fluid rounded-start", alt:"..." %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"> <%= home.name %></h5>
        <p class="card-text">
          <%= home.address %>
          <%= home.city %>
          <%= home.cp %>
        </p>
        <p class="card-text"><small class="text-body-secondary"><%= home.updated_at %></small></p>
      </div>
    </div>
  </div>
</div>