<p style="color: green"><%= notice %></p>

<%= render @home %>

<div class="card p-2">

     <h3> Offre de vente </h3>

    <% if @home_sale %>

      <%= render @home_sale %>
      
    <% else %>
      <%= link_to  "Proposer à la vente", new_home_sale_path(home: @home.id), class: "btn btn-success" %>
    <% end %>
    
</div>

<hr>

<%= link_to  "Proposer à la location", new_home_sale_path(home: @home.id), class: "btn btn-success" %>
 